/*
 * signin & signup
 */
.webim-sign {
    overflow: hidden;
    width: 372px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    border: 0px none rgb(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    background: url(https://g.alicdn.com/DingTalkWeb/web/3.8.0/assets/webpack-img/TB12VJIHVXXXXaKXpXXCjuE.pXX-1127-334.png) repeat-x 0 0 scroll #e6f2f8;

    h2 {
        font-size: 24px;
        color: rgb(26, 26, 26);
        width: 100%;
        line-height: 84px;
        height: 64px;
    }

    p {
        margin: 10px auto 40px;
        width: 300px;
        text-align: left;
        color: #b4b4b4;
        i {
            font-style: normal;
            color: $color;
            cursor: pointer;
        }
    }

    &.webim-signup {
        button {
            margin-top: 30px;
        }
    }
}
